
.page-title-container {
    margin-top: 40px;
    padding: 0 10px;
    /* border: 10px red solid; */
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

.page-title {
    /* border: 10px green solid; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    box-sizing: border-box;
}

h1 {
    color: black;
    font-family: "Poppins", sans-serif;
}

.under-dev {
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.message-container {
    padding: 0 10px;
    /* border: 10px red solid; */
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

.message {
    /* border: 10px green solid; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

.message-text-1 {
    color: blueviolet;
    font-family: "Poppins", sans-serif;
    font-size: 19px;
}

.message-text-2 {
    color: black;
    font-family: "Poppins", sans-serif;
    font-size: 16px;
}

.email-input-container {
    height: 60px;
    margin-top: 30px;
    /* border: 1px red solid; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.email-input-container input {
    background-color: rgba(21, 21, 21, 0.6);
    color: white;
    height: 55px;
    margin: 3.5px;
    padding: 0 15px;
    border: 1px grey solid;
    border-radius: 5px;
}

.email-input-container #input-1 {
    width: 330px;
}

.email-input-container input::placeholder {
    color: rgb(175, 179, 179);
    font-size: 17px;
    font-weight: 500;
}

.email-input-container .get-st-btn {
    background-color: red;
    color: white;
    width: 225px;
    height: 55px;
    margin: 3.5px;
    padding: 10px 30px;
    border: 0;
    border-radius: 5px;
    font-family: "Poppins", serif;
    font-weight: 600;
    font-size: 24px;
}


